<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Description" content="This is my first website">
    <title>💚 Fictitious Character</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <table cellspacing="20">
        <tr>
            <td>
                <img src="https://static01.nyt.com/images/2021/06/27/fashion/27MODERN-SEXSHOP/27MODERN-SEXSHOP-mobileMasterAt3x.jpg"
                 width="300"
                 height="200"
                 alt="This is the sex shop">
            </td>
            <td>
                <h1>💚 I am a fictitious character</h1>
                <p><em><strong>I am the king of the</strong> </em>world</p>
                <hr>
            </td>
        </tr>
    </table>


    <h3>Books and Teaching</h3>
        <ul>
            <li>Sex Industries</li>
            <li>Home Automation</li>
            <li><strong>More Sex</strong></li>
        </ul>
    <h3>Hobbies</h3>
        <ol>
            <li>Banging Chicks</li>
            <li>Three way</li>
        </ol>
    <h3>Work experience</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Dates</th>
                <th>Work</th>
            </tr>
        </thead>
        <tr>
            <td>
                2010-2013
            </td>
            <td>
                Fucked 50 chicks
            </td>
        </tr>
            <td>
                2014
            </td>
            <td>
                Fucked another 35 chicks
            </td>
        <tr>

        </tr>
    </table>

    <h3>Skills</h3>
    <table cellspacing="10">
        <tbody>
            <thead>
                <tr>
                    <td><strong>Favorites positions</strong></td>
                    <td><strong>Rating</strong></td>
                </tr>
            </thead>
        </tbody>
        <tr>
            <td>69</td>
            <td>💚💚💚</td>
        </tr>
        <tr>
            <td>doggy</td>
            <td>💚💚💚</td>
        </tr>
        <tr>
            <td>Face-off</td>
            <td>💚💚💚💚</td>
        </tr>
        <tr>
            <td>Cowgirl's helper</td>
            <td>💚💚💚💚💚</td>
        </tr>
        <tr>
            <td>The chairman</td>
            <td>💚💚💚</td>
        </tr>
         <tr>
            <td>Missionary/td>
            <td>💚💚💚💚💚</td>
         </tr>
         <tr>
            <td>Reverse Cowgirl</td>
            <td>💚💚💚💚💚</td>
         </tr>
        <tr>
            <td>Stand and deliver</td>
            <td>💚💚💚💚💚</td>
         </tr>
    </table>
    <h3>Contacts</h3>
    <form action="mailto:anurag.anant@live.in" method="post" enctype="text/plain">
        <label>Your name</label>
        <input type="text" value="" name="Your Name">
        <input type="color"><br>
        <label for="">Email: </label>
        <input type="email"><br>
        <label>Do you want to sign up for the email list?</label>
        <input type="checkbox"><br>
        <label>Your message</label><br>
        <textarea name="your message" id="" cols="30" rows="10"></textarea>
        <input type="submit">
    </form>

 </body>
</html>